<div class="card">
  <div class="card-header">
    Evaluate FBO Opportunity
  </div>
  <div class="card-body">
    <h5 class="card-title">{{{opps.SUBJECT}}}</h5>
    <p class="card-text">{{{opps.DESC}}}</p>
    <a href="{{{opps.URL}}}" target="_blank">Go to FedBizOpps.gov</a> 
  <form action="/opps/{{opps.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <input type="radio" name="isInteresting" value="true" checked> Interesting<br>
      <input type="radio" name="isInteresting" value="false"> Not Interesting<br>
    </div> 
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
  </div>
</div>