<h1>
  Validate
</h1>
{{#each fbofilenames}}
  <div class="card card-body mb-2">
    <a href="{{fboFile}}" target="_blank">{{fboFile}}</a>
  </div>
{{else}}
  <p>
    No Files Listed, Ingest is up to date
  </p>
{{/each}}
