<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">
    Is this opportunity worth pursuing?
  </p>
  <a href="#" class="btn btn-dark btn-lg">Previous</a>
  <a href="#" class="btn btn-dark btn-lg">Next</a>
  <a href="#" class="btn btn-dark btn-lg">Good</a>
  <a href="#" class="btn btn-dark btn-lg">Bad</a>
  <a href="#" class="btn btn-dark btn-lg">Save</a>
</div>