<h1 class="text-center">
  Processed an FBO Daily Input File
</h1>

<div class="card card-body mb-2">
  <h4>
    Number of JSON records in the input file: {{{githubFile.numRecords}}}
  </h4>
  <h4>
    Number of JSON records through the filter: {{{githubFile.numFiltered}}}
  </h4>
   <a class="btn btn-primary btn-block" href="/validate">OK</a>
</div>
